@tailwind base;
@tailwind components;
@tailwind utilities;
@import './app/styles/variables';
@import './app/styles/normalize';


body {
  margin: 0 auto;
  font-family: 'Roboto',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //letter-spacing: 1px;
}

.container {
  width: 100%;
  max-width: 1440px;
  max-height: 870px;
  height: 100%;
  padding: 0 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
